body > div {
	width: 40em;
	margin: 0 auto 0 auto;
}

div#main {
	border-width: 3px;
	border-color: #dddddd;
	border-style: solid;
	margin-bottom: 2em;
	padding: 5pt;
}

fieldset {
	border-color: #dddddd;
	margin-bottom: 2em;
}

label {
	float: left;
	width: 8em;
}

input[type="text"], input[type="password"] {
	width: 20em;
}

p#message {
	height: 1em;
}

h1 {
	padding: 0;
}
h2 {
	font-size: 100%;
}
